body {
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2 {
    font-family:sans-serif;
}
li {
    font-family:sans-serif;
}
table {
    font-family:sans-serif;
}
